---
layout: wobanner
title: Contact
image: 13.jpg
---
{% if site.contact-subtitle %}
<h5 class="contact-subtitle">{{ site.contact-subtitle }}</h5>
<hr>
{% else %}
{% endif %}

<div class="info-social find-me-links">

  <ul class="info-social-list find-me-links-list">

    {% if site.twitter %}
    <li>
      <a href="{{ site.twitter }}" target="_blank">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </li>
    {% else %}{% endif %} 

    {% if site.tiktok %}
    <li>
      <a href="{{ site.tiktok }}" target="_blank">
        <i class="fa fa-tiktok" aria-hidden="true"></i>
      </a>
    </li>
    {% else %}{% endif %} 

    {% if site.instagram %}
    <li>
      <a href="{{ site.instagram }}" target="_blank">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
    </li>
    {% else %}{% endif %}

    {% if site.youtube %}
    <li>
      <a href="{{ site.youtube }}" target="_blank">
        <i class="fa fa-youtube" aria-hidden="true"></i>
      </a>
    </li>
    {% else %}{% endif %}

  </ul>

</div>

<form action="https://formspree.io/f/moqpgwra" method="POST" class="form">
  <div class="form-group">
    <label for="form-name">Your Name (Required)</label>
    <input class="form-input" type="text" name="name" id="form-name" required>
  </div>
  <div class="form-group">
    <label for="form-email">Your Email (Required)</label>
    <input class="form-input" type="email" name="_replyto" id="form-email" required>
  </div>
  <div class="form-group">
    <label for="form-subject">Subject</label>
    <input class="form-input" type="text" name="subject" id="form-subject">
  </div>
  <div class="form-group">
    <label for="form-text">Your Message (Required)</label>
    <textarea class="form-textarea" name="text" rows="12" id="form-text" required></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="form-btn btn btn-big">Send</button>
  </div>
</form> <!-- /.form -->
