.site-header {
  display: block;
}

.site-header::before{
    content: "";
    display: table;
    table-layout: fixed;
}

.site-header .site-title{
  width: 100%;
  margin: 0 auto 50px;
  max-width: 960px;
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: 4rem;
}

.site-logo {
  float: left;
  position: absolute;
}

.site-nav {
  background: rgba(255,255,255,.83);
  border-bottom: 1px solid #ddd;
  clear: both;
  display: block;
  float: left;
  font-weight: 700;
  height: 56px;
  line-height: 56px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.site-logo a img {
  height: 100%;
  width: 56px;
  padding-left: 11px;
}

.site-ctrls {
  display: block;
  z-index: 100;
  position: absolute;
  right: 0px;
  width: 25%;
  padding: 29px 0px 0px 0px;

  .ctrl{
    display: inline-block;
    width: 25%;
    float: right;
  }
}

// .site-nav {
//   float: left;
//   position: relative;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   a {
//     position: relative;
//     font-size: 12px;
//     padding: 22px 30px;
//     font-family: 'Lato', sans-serif;
//     letter-spacing: 0.8px;
//     line-height: 60px;
//     font-weight: 700;
//     text-decoration: none;
//     text-transform: uppercase;
//     color: $white;
//     transition: all 0.2s ease;
//     &:hover {
//       color: rgba(255, 255, 255, 0.7);
//     }
//   }
//   &.open {
//     transform: translateX(0px);
//   }
// }

.nav-toggle, .nav-toggle-close {
  // display: none;
  font-size: 15px;
  cursor: pointer;
  transition: all .25s ease;
  z-index: 10;
  &:hover {
    color: rgba(255, 255, 255, 0.7);
  }
}
.nav-toggle {
  top: 50%;
  transform: translateY(-50%);
  color: black;
}
.nav-toggle-close {
  right: 20px;
  top: 16px;
  color: $black;
}

@media screen and (max-width: 992px) {
  .wrapper-content {
    position: static;
  }

  .site-logo {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    text-align: left;
  }
  .navigation-wrap {
    width: 250px;
    height: 100vh;
    min-height: 100%;
    position: fixed;
    top: 0;
    right: -250px;
    bottom: 0;
    left: auto;
    background-color: rgba(0, 120, 217, 0.80);
    overflow-y: auto;
    z-index: 10;
    transition: right .35s cubic-bezier(0.565, 1.65, 0.765, 0.90);
    &.open {
      right: 0;
    }
  }
  .site-nav {
    float: none;
    transform: none;
    top: 0;
    left: 0;
    margin-bottom: 40px;
    a {
      display: block;
      text-align: center;
      line-height: 0.9;
      font-size: 12px;
      padding: 25px 30px;
      margin: 0;
      border-bottom: 1px solid rgba(31, 42, 51, 0.1);
      transition: all 0.2s ease;

      &:hover {
        background-color: darken(rgba(0, 120, 217, 0.80), 10%);
        color: $white;
      }
    }
  }

  .nav-toggle {
    display: block;
  }
  .nav-toggle-close {
    display: none;
  }
}
